* {
 
    transition-timing-function: ease;
    transition: all 0.3s;
}
html {
  font-family: $font-family; //goto css>main.css to see which font is set for $font-family variable
    text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
}

p, ul, ol {
    font-family: $font-family;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.8;
    margin: 1.2em 0;
    color: #e0e0e0;
    background-color: transparent;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}


a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
  font-weight: 700;
}
mark {
  color: #fff;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
code{display: inline-block;}
    


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.42857143;
  color: $accent-color;
  background-color: #3B3839;
}

a {
  color: $accent-color;
  text-decoration: none;
    color: #fff;
    text-shadow: 3px 3px 8px #000;
    width: 540px;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -1px;
}
a:hover,
a:focus {
  color: #0a5;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

.img-rounded {
  border-radius: 4px;
}

.img-circle {
  border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-family;
  font-weight: bold;
  line-height: 1.6;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}

h1 {
      border-bottom: 1px solid #eee;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;

}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}


blockquote {
    color: #777;
    border-left: 5px solid $accent-color;
    padding-left: 10px;
    font-size: 18px;
    letter-spacing: 0px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


blockquote p {
    line-height: 1;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: $accent-color;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre {
  display: inline-block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #fff;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4, .col-md-8 {
 position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
	.col-md-4,  {
 		float: left;
		width: 25%;
  	}

	.col-md-8 {
		float: left;
		width: 70%;
		text-align:center;
	}
}


a#menu-toggle {
    z-index: 999;
}

.page-content{
    max-width: 80%;
    margin:0 auto;
}



#author-div {
    padding: 0 60px 0 60px;
    margin-top: 2em;
}

img {
    max-width: 100%;
}


.post-list {
    list-style: none;
    margin: auto;
    font-weight: normal;
    font-size: 1.3em;
    color: $accent-color;
    text-decoration: none;
    text-shadow: 3px 3px 8px #000;
    line-height: 1;
    letter-spacing: -1px;
}

a.post-link {
    color: #e0e0e0;
}
h2#post-index{ 
    margin: 10px;
    display: inline-block;
    border: none;
    
}

.post-link:hover {
    text-decoration: none;
    color: #0a5;
}

.post-title {

    background-color:transparent;
    color: $accent-color;
    text-shadow: 3px 3px 8px #000;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 48px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -1px;
    padding-bottom: 0.4em;
  
}


.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #1b95e0;
}

.google {
    background-color: #d34836;
}

.reddit {
    background-color: #ff5700;
}

.email {
    background-color: #777;
}

.linkedin {
    background-color: #0077b5;
}

a.share-button {
    text-decoration: none;
    padding: 5px 10px;
    color: #eee;
    border-radius: 4px;
    opacity: 0.9
}
.share-button {
    margin-bottom: 0.625em;
    display: inline-block;

}

a.share-button:hover {
    opacity: 1;
}


#share-box-container {
    margin: 2em 0em;
}

.page-heading {
    margin: 0em 0em 0.25em 1em;
    font-weight: 700;
    font-size: 3em;
    color: $accent-color;
    text-decoration: none;
    text-shadow: 3px 3px 8px #000;
    line-height: 1;
    letter-spacing: -1px;
    /* margin: unset; */
    padding: 0em 0em 0.5em 0em;
}

#archive h2{
    font-size: 1.5em;
}

//sign up form in about page start
#mc_embed_signup {
    max-width: 80%;
    margin: 0 auto;
    display: inline-block;
}

div#mc_embed_signup_scroll {
    border: 1px solid #aaa;
    padding: 1em;
}

input#mc-embedded-subscribe {
    border: none;
    padding: 5px 10px;
    margin-top: 0.625em;
    background-color: $accent-color;
    color: #eee;
}

.mce_inline_error {
    margin-top: 0.625em;
}



input#mce-EMAIL {
    border: none;
    border-bottom: 1px solid #777;
    margin-bottom: 0.625em;
    outline: none;
}

input#mce-EMAIL:focus {
    border-bottom: 1px solid $accent-color;
}

.indicates-required {
    display: none;
}

#mce-EMAIL {
    background-color: transparent;
}

//sign up form in about page end


//contact form in contact page start
.contact-li {
    list-style: none;
}

.contact-input {
    border:none;
    border-bottom: 1px solid #eee;
    transition-duration: 0.3s;
    width: 12em;
}

.contact-input:focus {
    outline:none;
    border-bottom: 1px solid $accent-color;
}

.contact-label {
    display: block;
}

ul.contact-ul {
    margin: 0;
    padding: 10px;
}

#submit {
    border:none;
    background-color: $accent-color;
    padding: 5px 15px;
    color: #eee;
    opacity: 0.8;
}

#submit:hover {
    opacity: 1;
    cursor: pointer;
}


#contact-form {
    border: 1px solid #aaa;
    display: inline-flex;
    margin-bottom: 6em;
}

//contact form in contact page end


// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $accent-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}



.author-bar {
    position: fixed;
    right:0;
    
}

.menu-icon {
    width: 25px;
    position: fixed;
}

//media query start

@media (max-width: 900px) {
    
        #author-div {
            padding: 20px 0 0 0;
            margin-top: 2em;
            border-top:1px solid #eee;
        }
        
    img {
    max-width: 100%;
}

}

@media (max-width: 700px) {
        .page-content{
        max-width: 100%;
        }
        .page-heading {
        margin: 0 0 1em 0;
        font-size: 2em;
        }
        h2#post-index{
        font-size: 1.3em;
        margin: 0 0 1em 0;
        }
        .post-list {
        padding: 0;
        }
        span.post-meta {
        color: #fff;
        text-shadow: 3px 3px 8px #000;
        font-size: 0.6em;
        text-decoration: none;
        text-shadow: 3px 3px 8px #000;
        margin-top: 0;
        margin-bottom: 0.2em;
        font-weight: bold;
        line-height: 1;
        letter-spacing: -1px;
        }
        .post-title{
        font-size: 2em;
        }
        p,ul,ol {
        font-size: 1em;
        line-height: 1.5;
        }
       .author-bar{
         position: static; 
        }
    .menu-icon{
        width: 20px;
    }
}

//media query end




