---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <div id="wrapper" class="toggled">

       {% include sidebar.html %}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
           <a href="#" id="menu-toggle">
           <svg class="menu-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 459 459"><path fill="{{site.accent-color}}" d="M0 382.5h459v-51H0V382.5zM0 255h459v-51H0V255zM0 76.5v51h459v-51H0z"/></svg>
        </a>

            <div class="container-fluid">
                <div class="col-md-8">
                    {{ content }}
                </div>
            <div class="col-md-4 text-center author-bar">
                    <div id="author-div">
                        <img class="img-circle" width="200px" src="{{site.baseurl}}{{site.author-image}}">
                        <p>Hi, I'm <strong>Elijah</strong>. I'm a <strong>developer</strong> from New York. Send me a message!</p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
                    </div>
                    <form id="contact-form" class="form" action="https://getsimpleform.com/messages?form_api_token={{site.simpleform-api-token}}" method="POST" enctype="multipart/form-data">
        <ul class="contact-ul">
            <li class="contact-li">
                <label class="contact-label" for="name">Name:</label>
                <input type="text" placeholder="Your name" id="name" class="contact-input" name="name" tabindex="1"/>
            </li>
            <li class="contact-li">
                <label class="contact-label" for="email">Email:</label>
                <input type="email" placeholder="Your email" id="email" class="contact-input" name="email" tabindex="2"/>
            </li>
            <li class="contact-li">
                <label class="contact-label" for="message">Message:</label>
                <textarea class="contact-textarea" placeholder="Your message" class="contact-input" rows="4" id="message" name="message" tabindex="3"></textarea>
            </li>
            
        </ul>
        <input type="submit" value="Send" id="submit"/>
        <input type="hidden" name='redirect_to' value="http://terrib1e.github.io/thanks"/>
        
      </form>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->


   
   
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>     
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


 {% if site.analytics %}{% include analytics.html %}{% endif %}

     

</body>

</html>
